*{
    margin: 0;
    padding: 0;
}
.w-100{
    width: 100%;
}
.width-80{
    width: 80%;
}
.h-50{
    height: 50%
}
.h-75{
    height: 75%
}
.h-25{
    height: 25%
}

@tailwind base;
@tailwind components;
@tailwind utilities;

