@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;

}
.w-100{
    width: 100%;
}
.width-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}
.h-100{
    height: 100%;
}
.h-50{
    height: 50%
}
.h-75{
    height: 75%
}
.h-25{
    height: 25%
}
.h-80{
    height: 80%;
}
.h-90{
    height: 90%;
}
.message-empty{
    height: 90%
}

.food-dish{
    width: 310px;
    height: 450px;
    margin-left: 10px;
}

.food-product{
    width: 260px;
    height: 300px;
}
.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: flex-start;
  }
.text-num-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 10vh;
}
.navbar div{
    height: 10vh;
}
.full-card{
    height: 90vh;
}
.general-margin{
    margin-top: 10vh;
}


.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.error{
    margin-top: 10px;
    color: red;
}
